.container {
    display: flex;
    height: 100vh; 
    width: 100vw; 
    flex-direction: row;
}
  
.leftcontent {
    max-width: 50vw;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem;
    align-items: center;
    margin-left: 10%;
}

.rightContent {
    width: 50%; 
    padding: 2rem;
    padding-left: 0;
    overflow-y: auto;
}

.logoLink{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logoContainer{
    position: relative;
    width: 150px; 
    height: 150px; 
    align-items: center;
    justify-content: center;
    height: 100%;
}

.wrapper {
    flex: 2;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.nav {
    font-size: 1.5rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 2rem;
    text-align: left;
}

.navLink {
    display: block;
    margin-bottom: 1rem;
    color: #AE2025;
    text-decoration: none;
}

.navLink:hover {
    color: #91191B;
    background-color: lightcyan;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; 
        height: auto; 
    }

    .leftcontent {
        width: 100%; 
        max-width: 100vw;
        flex-direction: column;
        justify-content: center;
        overflow-y: auto; 
        scrollbar-width: thin; 
        padding: 5rem;
        gap: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0;
        margin : 0;
    }

    .rightContent {
        width: 100%; 
        padding: 1rem; 
    }

    .logoContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 120px; 
        height: 120px;
    }

    .wrapper {
        width: 100%; 
        align-items: center; 
        flex: 1;
        flex-direction: column;
        text-align: center;
    }

    .nav {
        flex-direction: row; 
        gap: 1rem; 
        justify-content: center;
        align-items: center;
    }

    .navLink {
        text-align: center; 
    }
}