.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  /* Style for the header */
  .heading1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #AE2025;
    transition: 0.4s;
    padding: 3px;
  }
  
  /* Style for the paragraph */
  .paragraph {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    max-width: 600px; /* Optional: limits the width of text for better readability */
  }
  
  /* Style for the button */
  .button {
    padding: 0.8rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color:#AE2025;;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #91191B;
  }