.items{
    margin: 10%;
    align-items: left;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (max-width: 768px) {
    .items{
        margin: 0;
        align-items: center;
        gap: 1rem;
    }
}