
.followLinks {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-size: 1.5rem;
  justify-content: left;
  text-align: left;
}
  
/* Style the icons to be inline and add spacing */
.anchor {
  display: inline-block;
  margin: 0 10px;
  color: inherit; /* Ensures the icons inherit the text color */
  text-decoration: none; /* Removes underline on the links */
}

.anchor:hover {
  color: #0077b5; /* Example hover color for LinkedIn */
}
  
  /* Center text on mobile, align left on larger screens */
@media (min-width: 1024px) {
  .header1,
  .header3 {
    text-align: left;
  }
}

@media (max-width: 768px) {
  .followLinks {
    gap: 2rem;
    font-size: 2rem;
    justify-content: center;
    text-align: center;
  }
}